[user]
   name = mjturt
   email = maks.turtiainen@protonmail.com
   signingkey = 1E048EA50E2C1C7E
[core]
   editor = vim
[color]
   ui = auto
[merge]
   tool = vimdiff
[diff]
   tool = vimdiff
[difftool]
   prompt = false
[alias]
   lg = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%C(blue)%x20(%ce)%x20%C(cyan)[gpg:%GK%x20%G?]%C(reset)%n%x20%s%n"
   ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
