!┃ ~/.Xresources
!┣━━━━━━━━━━━━━━
!┃ mjturt  

! xft
!-----

!Xft*dpi:                           96
Xft*autohint:                      true
Xft*hintstyle:                     hintslight
Xft*lcdfilter:                     lcddefault
Xft*embolden:                      false
Xft*render:                        true
Xft*hinting:                       true
Xft*antialias:                     true
Xft*rgba:                          rgba


! URxvt
!------

URxvt*font:                        xft:Iosevka NF:size=10,xft:Unifont:size=10
URxvt*boldFont:                    xft:Iosevka NF:Bold:size=10,xft:Unifont:size=10
uRxvt*italicFont:                  xft:Iosevka NF:Italic:size=10,xft:Unifont:size=10
URxvt*boldItalicFont:              xft:Iosevka NF:Bold:Italic:size=10,xft:Unifont:size=10
URxvt.letterSpace:                 -1 
URxvt.lineSpace:                   0
URxvt*skipBuiltinGlyphs:           false

URxvt*scrollBar:                   false
URxvt*borderLess:                  false
URxvt*internalBorder:              5
URxvt.transparent:                 false
URxvt.fading:                      30
URxvt.shading:                     75
URxvt.cursorBlink:                 false
URxvt.cursorUnderline:             false
URxvt*underlineURLs:               true

URxvt*depth:                       32
URxvt*iso14755:                    false
URxvt*iso14755_52:                 false
URxvt*cutchars:                    BACKSLASH '"'&()*,;<=>?@[]^{|}
URxvt*urgentOnBell:                true
URxvt.saveLines:                   100
URxvt.mouseWheelScrollPage:        false

URxvt*perl-lib:                    /home/mjt/.Xresources.d/perl/
URxvt.perl-ext-common:             matcher,font-size,clipboard

! change font
!URxvt.keysym.M-C-1:                command:\033]710;xft:Unifont,xft:GohuFont NF:size=10:antialias=true\007\033]711;xft:Unifont,xft:GohuFont NF:size=10:antialias=true\007
!URxvt.keysym.M-C-2:                command:\033]710;xft:ShureTechMono NF:size=10:antialias=true\007\033]711;xft:ShureTechMono NF:antialias=true\007
! scroll up/down 1 line
!URxvt.keysym.Shift-Up:             command:\033]720;1\007
!URxvt.keysym.Shift-Down:           command:\033]721;1\007
! scroll up/down 8 line
!URxvt.keysym.Meta-l:               command:\033]720;8\007
!URxvt.keysym.Meta-k:               command:\033]721;8\007
URxvt*keysym.Control-Shift-C:      perl:clipboard:copy
URxvt*keysym.Control-Shift-V:      perl:clipboard:paste
URxvt.keysym.Control-Shift-Up:     perl:font-size:increase
URxvt.keysym.Control-Shift-Down:   perl:font-size:decrease

URxvt*matcher.pattern.0:           (?:https?:\\/\\/|ftp:\\/\\/|rsync:\\/\\/|news:\\/\\/|mailto:|file:\\/\\/|\\bwww\\.)\n\[a-zA-Z0-9\\x{0410}-\\x{044F}\\-\\@;\\/?:&=%\\$_.+!*\\x27,~#]*\n\(\n\\\([a-zA-Z0-9\\x{0410}-\\x{044F}\\-\\@;\\/?:&=%\\$_.+!*\\x27,~#]*\\)| # Allow a pair of matched parentheses\n\[a-zA-Z0-9\\x{0410}-\\x{044F}\\-\\@;\\/?:&=%\\$_+*~]  # exclude some trailing characters (heuristic)\n\)+
URxvt*matcher.button:              3
URxvt*url-launcher:                /usr/bin/xdg-open
URxvt.clipboard.autocopy:          true

!## colorscheme
#include "./.Xresources.d/colors/nord"

!## urxvt color overridings
!URxvt.foreground:      #c2c2b0
!URxvt.background:      [80]#222222
!URxvt.cursorColor:      #87875f
!URxvt.colorIT:         #719611
!URxvt.colorBD:         #d3d3d3
!URxvt.colorUL:         #528b8b
!URxvt.underlineColor:  #129b33

! cursor
!-------

Xcursor.theme:                     Vanilla-DMZ
Xcursor.size:                      22
