/*┃ ~/.config/qutebrowser/stylesheets/default.css
 *┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
 *┃ mjturt
 * */

a {
    color: #4D657F !important;
}
a:hover,a:focus {
    color: #31994B !important;
}
a:visited {
    color: #966C3F !important;
}
#main .nerd-font-cheat-sheet .column .codepoint {
    color: #000000 !important;
    font-size: 18px !important;
}
