*,div,pre,textarea,body,input,td,tr,p {
    background-color: #303030 !important;
    background-image: none !important;
    color: #bbbbbb !important;
}
h1,h2,h3,h4 {
    background-color: #303030 !important;
    color: #b8ddea !important;
}
a {
    color: #70e070 !important;
}
a:hover,a:focus {
    color: #7070e0 !important;
}
a:visited {
    color: #e07070 !important;
}
img {
    opacity: .5;
}
img:hover {
    opacity: 1;
}

/* Hint mode color styling
 * Color scheme: Base16 Eighties (https://github.com/chriskempson/base16)
 *
 * The precedence of the user style is lower than that of the website so you
 * have to mark your style definition to have higher priority.
 */
._hintLabel {
    background-color: #f2f0ec !important;
    border: 1px solid #2d2d2d !important;
    color: #2d2d2d !important;
    font: bold 10pt monospace !important;
    opacity: 1 !important;
    padding: 0.1em !important;
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
    text-transform: uppercase !important;
}
._hintLabel._hintFocus {
    font: bold 13pt monospace !important;
}
._hintElem {
    background-color: #ffcc66 !important;
    color: #2d2d2d !important;
}
._hintElem._hintFocus {
    background-color: #6699cc !important;
    color: #2d2d2d !important;
}


